
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<!doctype html>
<html lang="en">
  <div class="mr-10">
    <app-carousel [images]="images" ></app-carousel>
  </div>
<body _nghost-ng-c4180277409="" class="ng-star-inserted" ngSkipHydration>
 
  <br><br><br> <br><br><br> <br><br><br> <br><br><br> <br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br>
  <!doctype html>

  <!-- Portfolio Starts - education component -->
  <br><br><br>
<div style="margin-left: 242px;">
  <img loading="lazy" src="./assets/images/portfolio/portfolio.png" alt="Image"><br>
  <p style="text-align: center; font-size: x-large; font-family: monospace;">
    <b>
  </b>
  </p>
</div>

<!-- Portfolio Body -->
<div class="container card-body-portfolio" id="portfolio">
    <mat-tab-group>
      <mat-tab label="3D INDUSTRIAL MODELS">
        <mat-grid-list cols="2" rowHeight="430px">
            <mat-grid-tile>
              <img src="./assets/images/about/Featured_Slide_Work00008.png" alt="Image">
            </mat-grid-tile>
            <mat-grid-tile>
              <img src="./assets/images/about/Featured_Slide_Work00003.png" alt="Image">
            </mat-grid-tile>
          </mat-grid-list>  
          <mat-grid-list cols="2" rowHeight="430px">
            <mat-grid-tile>
              <img src="./assets/images/about/Featured_Slide_Work00007.png" alt="Image">
            </mat-grid-tile>
            <mat-grid-tile>
              <img src="./assets/images/about/Featured_Slide_Work00005.png" alt="Image">
            </mat-grid-tile>
          </mat-grid-list>  
        </mat-tab>
      <mat-tab label="3D ARCHITECTURAL MODELS">
        <mat-grid-list cols="2" rowHeight="450px">
          <mat-grid-tile>
            <img src="./assets/images/about/Featured_Slide_Work00008.png" alt="Image">
          </mat-grid-tile>
          <mat-grid-tile>
            <img src="./assets/images/about/Featured_Slide_Work00003.png" alt="Image">
          </mat-grid-tile>
        </mat-grid-list>  
        <mat-grid-list cols="2" rowHeight="450px">
          <mat-grid-tile>
            <img src="./assets/images/about/Featured_Slide_Work00007.png" alt="Image">
          </mat-grid-tile>
          <mat-grid-tile>
            <img src="./assets/images/about/Featured_Slide_Work00005.png" alt="Image">
          </mat-grid-tile>
        </mat-grid-list>        
        </mat-tab>
      <mat-tab label="3D CHARACTER MODELS">
        <mat-grid-list cols="2" rowHeight="450px">
          <mat-grid-tile>
            <img src="./assets/images/about/Featured_Slide_Work00008.png" alt="Image">
          </mat-grid-tile>
          <mat-grid-tile>
            <img src="./assets/images/about/Featured_Slide_Work00003.png" alt="Image">
          </mat-grid-tile>
        </mat-grid-list>  
        <mat-grid-list cols="2" rowHeight="450px">
          <mat-grid-tile>
            <img src="./assets/images/about/Featured_Slide_Work00007.png" alt="Image">
          </mat-grid-tile>
          <mat-grid-tile>
            <img src="./assets/images/about/Featured_Slide_Work00005.png" alt="Image">
          </mat-grid-tile>
        </mat-grid-list>   
            </mat-tab>
    <mat-tab label="TRADITIONAL ART">
      <mat-grid-list cols="2" rowHeight="450px">
        <mat-grid-tile>
          <img src="./assets/images/about/Featured_Slide_Work00008.png" alt="Image">
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="./assets/images/about/Featured_Slide_Work00003.png" alt="Image">
        </mat-grid-tile>
      </mat-grid-list>  
      <mat-grid-list cols="2" rowHeight="450px">
        <mat-grid-tile>
          <img src="./assets/images/about/Featured_Slide_Work00007.png" alt="Image">
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="./assets/images/about/Featured_Slide_Work00005.png" alt="Image">
        </mat-grid-tile>
      </mat-grid-list>  
            </mat-tab>
    <mat-tab label="GRAPHIC DESIGN PROJECTS">
      <mat-grid-list cols="2" rowHeight="450px">
        <mat-grid-tile>
          <img src="./assets/images/about/Featured_Slide_Work00008.png" alt="Image">
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="./assets/images/about/Featured_Slide_Work00003.png" alt="Image">
        </mat-grid-tile>
      </mat-grid-list>  
      <mat-grid-list cols="2" rowHeight="450px">
        <mat-grid-tile>
          <img src="./assets/images/about/Featured_Slide_Work00007.png" alt="Image">
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="./assets/images/about/Featured_Slide_Work00005.png" alt="Image">
        </mat-grid-tile>
      </mat-grid-list>  
            </mat-tab>
    </mat-tab-group>
  </div><br>
  <!-- Portfolio Ended - education component -->

  <!-- Demo reels start - skill component -->
  <br><br><br><br><br><br><br>
<div style="margin-left: 242px;" id="demoreel">
  <img src="./assets/images/portfolio/demo.png" alt="Image"><br>
  <p style="text-align: center; font-size: large; font-family: monospace;">
    <b>
      Here are demo reels that cover what I have learned both <br>
      while I attended the Art Institute of Houston and  as a creative professional. <br>
      My demo reels demonstrate a wide variety of projects and skills in different fields. <br>
      I specialize in Industrial 3d modeling and animation as well in multimedia projects from video editing to graphic design.
  </b>
  </p>
</div>
<br><br><br>
<!-- Demo reels Body -->
<div class="container card-body-demoreels">
  <mat-tab-group>
    <mat-tab label="Industrial Work Demo Reel">
        <iframe width="1384px" height="850px" src="https://www.youtube.com/embed/HoTAoyz14QM?si=FW_9v_3B5VWKpK8W" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </mat-tab>
    <mat-tab label="Academic Demo Reel">
        <iframe width="1384px" height="850px" src="https://www.youtube.com/embed/OqJxxcTHREc?si=9TZ8d0gkYKcjVajD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </mat-tab>
  </mat-tab-group>
</div> <br>
  <!-- Demo reels Ended - skill component -->

<!-- About Me Start - profile component -->
<br><br><br>
<div style="margin-left: 242px;" id="about">
  <img src="./assets/images/portfolio/about.png" alt="Image"><br>
  <div class="text-right">
  <img src="./assets/images/portfolio/contact.png" alt="Image"><br>
  <a class="nonblock" style="color: #1f2c6c;" href="mailto:giancarlobendana@yahoo.com"><span id="u1997">giancarlobendana&#64;yahoo.com</span></a>
  </div>
  <img style="padding-left:643px;" src="./assets/images/about/gian_portrait.jpg" alt="profile_image">
  <p style="text-align: center; font-size: large; font-family: monospace;">
    <b>
      Hello, and welcome to my website. My name is Gian Bendana. <br>
      Please stay awhile and look around at some projects and models I've created in software and tools with which I work.  <br>
      I am not only multilingual, I am multifaceted! <br>
      You will see examples  demonstrating my creativity in a variety of production environments created <br>
      in different countries and languages.
  </b>
  </p>
</div>

<br><br><br>
<div class="container" style="width: 1205px; height: 100px; padding-left: 20px;">
  <mat-tab-group>
<!-- skills tab -->
<mat-tab label="Skills">
  <mat-grid-list cols="2" rowHeight="700px">
    <mat-grid-tile style="margin-top: -144px;">
      <ul>
      <label style="text-decoration: underline; color: black;">APPLICATION KNOWLEDGE</label>
        <li>3D Modeling</li>
        <li>3D Animation</li>
        <li>Photorealistic Renders</li>
        <li>Computer-aided design & drafting</li>
        <li>Texturing and Photo Editing</li>
        <li>Photo developing and treatment</li>
        <li>Desktop publishing and layout</li>
        <li>Graphic Design and Illustration</li>
        <li>Video Editing</li>
        <li>Motion Graphics and Compositing</li>
        <li>Digital Sculpting and Texturing</li>
        <li>Web Design</li>
        <li>Web Animation</li>
        <li>General Office</li>
      </ul>
    </mat-grid-tile>
    <mat-grid-tile style="margin-top: -144px;">
      <ul>
      <label style="text-decoration: underline; color: black;">SOFTWARE</label>
        <li>3ds Max, Blender</li>
        <li>Maya</li>
        <li>Arnold, VRay & Keyshot</li>
        <li>AutoCAD</li>
        <li>Photoshop CC</li>
        <li>Lightroom CC</li>
        <li>InDesign</li>
        <li>Illustrator CC</li>
        <li>Premiere & Final Cut</li>
        <li>After Effects CC</li>
        <li>Zbrush & Mudbox</li>
        <li>Muse CC</li>
        <li>Adobe Animate CC</li>
        <li>Microsoft Office</li>
      </ul>
    </mat-grid-tile>
  </mat-grid-list>  
</mat-tab>
<!-- work history tab-->
<mat-tab label="Work History"><br><br>
  <div>
    <p style="text-decoration: underline;  color:black; font-weight: 100;"><b>GIAN BENDANA,  Miami-Fort Lauderdale,  Florida &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; August 2015 - PRESENT
    </b>
      <p style="border:black; text-decoration: underline; ">&nbsp;
        3D and Multimedia Freelancer<br>
      </p>  
      <li>Met with clients to conceptualize design and determine objectives, approaches, styles and techniques from  project concept to completion</li>
      <li>Developed 3d models, renders, and animations and provided periodic status updates to ensure client  satisfaction</li>
      <li>As needed, worked with web masters to design multilingual website layouts and appropriate placement on client website</li>
    </div><br>
    <div>
      <p style="text-decoration: underline;  color:black; font-weight: 100;"><b>MARTECH MEDIA SYSTEMS,The Woodlands,TX &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; August 2010 - July 2013
      </b>
        <p style="border:black; text-decoration: underline; ">&nbsp;
          Multimedia Graphic Artist/ E-Learning Developer<br>
        </p>  
        <li>Suggesting ideas for animations to better illustrate training concepts</li>
        <li>3-D models and animations</li>
        <li>Graphic design and video editing</li>
        <li>Validating Spanish translations</li>
    </div><br>
    <div>
      <p style="text-decoration: underline;  color:black; font-weight: 100;"><b>SAGE TELECOM,Allen,TX &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; July 1999 - June 2007
      </b>
        <p style="border:black; text-decoration: underline; ">&nbsp;
          Technical Assistance Group - May 2003 To June 2007<br>
        </p>  
        <li>Provided assistance with service interruption and other technical difficulties
        </li><br>
        <p style="border:black; text-decoration: underline; ">&nbsp;
          Bilingual Customer Service Rep - July 1999 To August 2003<br>
        </p>  
        <li>Assisted customers on billing issues, service plans, and sales promotions in English and Spanish (Promoted to Team Lead)
        </li>
    </div>
  </mat-tab>
<!-- about me tab -->
        <!-- <mat-tab label="About Me"><br>
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="header-text text-right">
                <a class="text-center" href="./assets/download/giancarlo-bendana-resume-v2-updated.pdf" download>Download Resume</a>
              </div>
            </div>
          </div>
            <div class="text-center">
            <img src="./assets/images/about/gian_portrait.jpg" alt="profile_image">
            <div class="card-container">
              <div class="">
                <h3>
                  Hello, and welcome to my website. My name is Gian Bendana. Please stay a while<br>
                  and look around at some projects and models I've created in software and tools<br>
                  with which I work. I am not only multilingual, I am multifaceted! You will see<br>
                  examples demonstrating my creativity in a variety of production environments<br>
                  created in different countries and languages.</h3>
              </div>
            </div>
          </div>
        </mat-tab> -->
<!-- Testimonials tab -->             
        <mat-tab label="Testimonials"><br><br>
          <div>
            <p style="text-decoration: underline;  color: darkred; font-weight: 100;"><b>D'BROTHERS SCHOOL</b> <br>
              <p style="border: 0.5px solid black; ">&nbsp;
                Seriousness, good taste, sophistication and punctuality are what define Gian's work!
                I am extremely satisfied with the final result of my company's logo
                and also with all the compliments I have received
                 from clients and friends when they see it.
                 For these reasons, I was completely satisfied with his work and recommend his services.<br>
                <b style="text-decoration: underline; color: darkred;">Ricardo Junior,
                Chief Executive Officer</b>
              </p>
              <p style="text-decoration: underline;  color: darkred;"><b>AVID WEBSITE SERVICES</b> <br>
                <p style="border: 0.5px solid black; ">&nbsp;
                  I have been extremely pleased with the 3D animation services provided by Mr. Bendana. 
                  He was very intuitive and was able to understand what I wanted without much explanation. 
                  He delivered a superb animation. I would for sure use him in the future for my 3D animation needs. 
                  He is very professional and gets the job done.<br>
                  <b style="text-decoration: underline; color: darkred;">Dustie Hollon,
                    Chief Website Designer</b>
                </p>            
                <p style="text-decoration: underline;  color: darkred"><b>EUSTON SYSTEMS AUTOMATION</b> <br>
                  <p style="border: 0.5px solid black; ">&nbsp;
                    We have been working with Gian for more than 3 years. In that time, 
                    he has proven to be a very qualified and responsible professional and concerned with the success of our projects. 
                    The quality of his work and his experience with the software has helped us in creating projects that impress our clients. 
                    I recommend Gian's services for any company. <br>
                    <b style="text-decoration: underline; color: darkred">Adilson Oliveira,
                      Key Account Automation Specialist</b>
                  </p>  
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
<!-- About Me Ended - profile component -->

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<!-- Accordion Starts -->
<br><br><br><br><br><br><br>
<div style="margin-left: 242px;" id="mylinks">
  <img src="./assets/images/portfolio/mylinks.png" alt="Image"><br>
  <p style="text-align: center; font-size: x-large; font-family: monospace;">
    <b>
    Here are a few links to people, companies, and software vendors that  <br>
    influenced me and with whom I have interacted during my professional career.<br>
    In such a fast-paced and always changing industry,<br>
    I like to check back on these links to stay current and feel inspired.
  </b>
  </p>
</div>
<br><br><br>
<!-- Accordion Starts -->
<div style="align-content: center; margin-left: 152px; font-family: math;">
<div class="container text-center">
  
  <!-- for softwares used -->
 <div class="accordion-heading" id="acc_1" (click)="accordion('acc_1')">Softwares I Use <span class="pull-right up-icon" [class.icon]="id==='acc_1'"><i class="fa fa-chevron-up"></i></span></div>
 <div class="accordion-content nonblock" *ngIf="id === 'acc_1'" style="font-family: math;">
  <a href="http://www.autodesk.com" target="_blank">Autodesk.com</a><br>
  <a href="https://www.adobe.com/creativecloud/catalog/desktop.html?promoid=KOVFF" target="_blank">Adobe.com</a><br>
  <a href="http://www.apple.com" target="_blank">Apple.com</a><br>
  <a href="http://pixologic.com" target="_blank">Pixologic.com</a><br>
  <a href="http://www.microsoft.com/pt-br/default.aspx" target="_blank">Microsoft.com</a><br>
  <a href="http://www.chaosgroup.com/en/2/index.html" target="_blank">VRay</a><br>
  <a href="https://www.keyshot.com" target="_blank">Keyshot</a><br>
</div><br>

 <!-- for references & tutorials -->
 <div class="accordion-heading" id="acc_2" (click)="accordion('acc_2')">Reference & Tutorials<span class="pull-right up-icon" [class.icon]="id==='acc_2'"><i class="fa fa-chevron-up"></i></span></div>
 <div class="accordion-content nonblock" *ngIf="id === 'acc_2'">
 <a href="http://www.lynda.com" target="_blank">Lynda.com</a><br>
<a href="http://www.digitaltutors.com/11/index.php" target="_blank">Digital-Tutors</a><br>
<a  href="http://cgi.tutsplus.com" target="_blank">CG.Tutsplus.com</a><br>
<a href="http://www.videocopilot.net" target="_blank">Videocopilot.net</a><br>
<a href="http://www.zbrushcentral.com/zbc-top-row-gallery.php" target="_blank">ZBrush Central</a><br>
</div> <br>

 <!-- for companies & networks -->
 <div class="accordion-heading" id="acc_3" (click)="accordion('acc_3')">Companies & Networks<span class="pull-right up-icon" [class.icon]="id==='acc_3'"><i class="fa fa-chevron-up"></i></span></div>
 <div class="accordion-content nonblock" *ngIf="id === 'acc_3'">
 <a href="http://www.martechmedia.com" target="_blank">www.martechmedia.com</a><br>
 <a href="http://epicstudiosphotography.com" target="_blank">www.epicstudio1.com</a><br>
 <a href="http://www.slb.com" target="_blank">www.schlumberger.com</a><br>
 <a href="http://sabastudios.com" target="_blank">sabastudios.com</a><br>
 <a href="http://ics.art.br" target="_blank">ics.art.br</a><br>
</div><br>


 <!-- for friend's website -->
 <div class="accordion-heading" id="acc_4" (click)="accordion('acc_4')">Friend's Websites<span class="pull-right up-icon" [class.icon]="id==='acc_4'"><i class="fa fa-chevron-up"></i></span></div>
 <div class="accordion-content nonblock" *ngIf="id === 'acc_4'">
 <a href="http://www.ics.art.br/web/marciogomes/" target="_blank">Vidal Fernades Jr</a><br>
 <a href="http://www.ics.art.br/web/marciogomes/" target="_blank">Marcio Gomes</a><br>
 <a href="http://kkalem.weebly.com" target="_blank">Kelsey Kalem</a><br>
 <a href="http://www.camilasalgado.com" target="_blank">Camila Salgado</a><br>
 <a href="http://www.jorsatti.com" target="_blank">James Orsatti</a><br>
 <a href="http://jawhitmore.webs.com" target="_blank">Jalil Withmore</a><br>
 <a href="http://nathantbates.com" target="_blank">Nathan Bates</a><br>
</div><br>

 <!-- for instructor's sites -->
 <div class="accordion-heading" id="acc_5" (click)="accordion('acc_5')">Instructor's Sites<span class="pull-right up-icon" [class.icon]="id==='acc_5'"><i class="fa fa-chevron-up"></i></span></div>
 <div class="accordion-content nonblock" *ngIf="id === 'acc_5'">
 <a href="http://www.normanengel.com" target="_blank">Norman Engel</a><br>
 <a href="http://mastein3d.blogspot.com.br" target="_blank">Mariano Stainer</a><br>
 <a href="http://pkmike.tumblr.com" target="_blank">Mike Azevedo</a><br>
 <a href="http://www.ics.art.br/paulosampaio/" target="_blank">Paulo Sampio</a><br>
 <a href="http://carlosluzzi.tumblr.com/" target="_blank">Carlos Luzzi</a><br>
 <a href="http://www.henriquerainha.com/?page_id=123" target="_blank">Henrique Rainha</a><br>
 </div><br>

 <!-- for websites Websites Designed by GianBendana-->
 <div class="accordion-heading" id="acc_6" (click)="accordion('acc_6')">Websites Designed by GianBendana<span class="pull-right up-icon" [class.icon]="id==='acc_6'"><i class="fa fa-chevron-up"></i></span></div>
 <div class="accordion-content nonblock" *ngIf="id === 'acc_6'">
 <a href="http://www.gianbendana.com/Baroness_inn_Web_Master/index.html" target="_blank">baronessinn.com</a><br>
 <a href="http://www.gianbendana.com/LeBonPhotography_website/index.html" target="_blank">lebonphotography.com</a><br>
 <a href="http://www.gianbendana.com/TommyBishopISD.com/index.html" target="_blank">tommybishop.com</a><br>
 <a href="http://www.gianbendana.com/team_production_website/index.html" target="_blank">animation production team project 2009</a><br>
 <a href="http://www.gianbendana.com/acsreunion2024_website/index.html" target="_blank">acsreunion2024</a><br><br>
</div><br>

</div>
</div>
<!-- Accordion Ends -->

<br><br><br> 
<div class="about-list-icon">
  <ul>
    <li>
      <a href="https://www.facebook.com/gian.bendana" target="_blank">
        <i  class="fa fa-facebook" aria-hidden="true"></i>
      </a>
    </li><!-- / li -->
    <li>
      <a href="https://br.pinterest.com/gianbendana/" target="_blank">
        <i  class="fa fa-dribbble" aria-hidden="true"></i>
      </a>
      
    </li><!-- / li -->
    <li>
      <a href="https://twitter.com/gbendana73" target="_blank">
        <i  class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      
    </li><!-- / li -->
    <li>
      <a href="https://www.linkedin.com/pub/giancarlo-bendana/66/119/4bb" target="_blank">
        <i  class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
    </li><!-- / li -->
    <li>
      <a href="https://www.youtube.com/user/gbendana/videos" target="_blank">
        <i  class="fa fa-youtube" aria-hidden="true"></i>
      </a>
    </li>
    <!-- / li -->
    
  </ul><!-- / ul -->
</div><!-- /.about-list-icon -->

<!--footer-copyright start-->
<footer id="footer-copyright" class="footer-copyright">
<div class="container">
<div class="hm-footer-copyright text-center">
<p>
copyright &copy; GIANBENDANA.COM <br> Designed and Developed by <b>CodeCraft</b>
</p><!--/p-->
</div><!--/.text-center-->
</div><!--/.container-->

<div id="scroll-Top">
<div class="return-to-top">
<i class="fa fa-angle-up " id="scroll-top" ></i>
</div>

</div><!--/.scroll-Top-->

</footer><!--/.footer-copyright-->
<!--footer-copyright end-->
 </body>
 </html>