<br><br><br><br><br><br><br>
<div style="margin-left: 242px;">
  <img src="./assets/images/portfolio/portfolio.png" alt="Image"><br>
  <p style="text-align: center; font-size: x-large; font-family: monospace;">
    <b>
  </b>
  </p>
</div>


<!-- Portfolio Body -->
<br><br><br><br>
<div class="container card-body-portfolio">
    <mat-tab-group>
      <mat-tab label="3D INDUSTRIAL MODELS">
        <mat-grid-list cols="2" rowHeight="500px">
            <mat-grid-tile>
              <img src="./assets/images/about/Featured_Slide_Work00008.png" alt="Image">
            </mat-grid-tile>
            <mat-grid-tile>
              <img src="./assets/images/about/Featured_Slide_Work00003.png" alt="Image">
            </mat-grid-tile>
          </mat-grid-list>  
          <mat-grid-list cols="2" rowHeight="500px">
            <mat-grid-tile>
              <img src="./assets/images/about/Featured_Slide_Work00007.png" alt="Image">
            </mat-grid-tile>
            <mat-grid-tile>
              <img src="./assets/images/about/Featured_Slide_Work00005.png" alt="Image">
            </mat-grid-tile>
          </mat-grid-list>  
        </mat-tab>
      <mat-tab label="3D ARCHITECTURAL MODELS">
        <mat-grid-list cols="2" rowHeight="500px">
          <mat-grid-tile>
            <img src="./assets/images/about/Featured_Slide_Work00008.png" alt="Image">
          </mat-grid-tile>
          <mat-grid-tile>
            <img src="./assets/images/about/Featured_Slide_Work00003.png" alt="Image">
          </mat-grid-tile>
        </mat-grid-list>  
        <mat-grid-list cols="2" rowHeight="500px">
          <mat-grid-tile>
            <img src="./assets/images/about/Featured_Slide_Work00007.png" alt="Image">
          </mat-grid-tile>
          <mat-grid-tile>
            <img src="./assets/images/about/Featured_Slide_Work00005.png" alt="Image">
          </mat-grid-tile>
        </mat-grid-list>        
        </mat-tab>
      <mat-tab label="3D CHARACTER MODELS">
        <mat-grid-list cols="2" rowHeight="500px">
          <mat-grid-tile>
            <img src="./assets/images/about/Featured_Slide_Work00008.png" alt="Image">
          </mat-grid-tile>
          <mat-grid-tile>
            <img src="./assets/images/about/Featured_Slide_Work00003.png" alt="Image">
          </mat-grid-tile>
        </mat-grid-list>  
        <mat-grid-list cols="2" rowHeight="500px">
          <mat-grid-tile>
            <img src="./assets/images/about/Featured_Slide_Work00007.png" alt="Image">
          </mat-grid-tile>
          <mat-grid-tile>
            <img src="./assets/images/about/Featured_Slide_Work00005.png" alt="Image">
          </mat-grid-tile>
        </mat-grid-list>   
            </mat-tab>
    <mat-tab label="TRADITIONAL ART">
      <mat-grid-list cols="2" rowHeight="500px">
        <mat-grid-tile>
          <img src="./assets/images/about/Featured_Slide_Work00008.png" alt="Image">
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="./assets/images/about/Featured_Slide_Work00003.png" alt="Image">
        </mat-grid-tile>
      </mat-grid-list>  
      <mat-grid-list cols="2" rowHeight="500px">
        <mat-grid-tile>
          <img src="./assets/images/about/Featured_Slide_Work00007.png" alt="Image">
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="./assets/images/about/Featured_Slide_Work00005.png" alt="Image">
        </mat-grid-tile>
      </mat-grid-list>  
            </mat-tab>
    <mat-tab label="GRAPHIC DESIGN PROJECTS">
      <mat-grid-list cols="2" rowHeight="500px">
        <mat-grid-tile>
          <img src="./assets/images/about/Featured_Slide_Work00008.png" alt="Image">
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="./assets/images/about/Featured_Slide_Work00003.png" alt="Image">
        </mat-grid-tile>
      </mat-grid-list>  
      <mat-grid-list cols="2" rowHeight="500px">
        <mat-grid-tile>
          <img src="./assets/images/about/Featured_Slide_Work00007.png" alt="Image">
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="./assets/images/about/Featured_Slide_Work00005.png" alt="Image">
        </mat-grid-tile>
      </mat-grid-list>  
            </mat-tab>
    </mat-tab-group>
  </div>