<header class="top-area">
    <div class="header-area">
      <!-- Start Navigation -->
        <nav class="navbar navbar-default bootsnav navbar-fixed dark no-background">

            <div class="container">

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <img style="height: 109px; width: 191px; margin-left: -744px;" src="./assets/images/portfolio/gb_logo_final.svg" alt="Image">
                    <a class="navbar-brand" href="/Home" style="margin-top: -19px;"><img src="./assets/images/portfolio/name.png" alt="Image">
                    </a>
                </div><!--/.navbar-header-->
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class=" smooth-menu active"></li>
                        <li class=" smooth-menu"><a href="#portfolio" routerLinkActive="active" ariaCurrentWhenActive="page">Portfolio</a></li>
                        <li class="smooth-menu"><a href="#demoreel" routerLinkActive="active" ariaCurrentWhenActive="page">Demo Reels</a></li>
                        <li class="smooth-menu"><a href="#mylinks" routerLinkActive="active" ariaCurrentWhenActive="page">My Links</a></li>
                        <li class="smooth-menu"><a href="#about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
                    </ul><!--/.nav -->
                </div><!-- /.navbar-collapse -->
            </div><!--/.container-->
        </nav><!--/nav-->
        <!-- End Navigation -->
    </div><!--/.header-area-->

      <div class="clearfix"></div>

  </header><!-- /.top-area-->