<br><br><br><br><br><br><br>
<div style="margin-left: 242px;">
  <img src="./assets/images/portfolio/demo.png" alt="Image"><br>
  <p style="text-align: center; font-size: x-large; font-family: monospace;">
    <b>
      Here are demo reels that cover what I have learned both <br>
      while I attended the Art Institute of Houston and  as a creative professional. <br>
      My demo reels demonstrate a wide variety of projects and skills in different fields. <br>
      I specialize in Industrial 3d modeling and animation as well in multimedia projects from video editing to graphic design.
  </b>
  </p>
</div>


<br><br><br><br><br><br>
<!-- Demo reels Body -->
<div class="container card-body-demoreels">
  <mat-tab-group>
    <mat-tab label="Industrial Work Demo Reel">
        <iframe width="1800px" height="950px" src="https://www.youtube.com/embed/HoTAoyz14QM?si=FW_9v_3B5VWKpK8W" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </mat-tab>
    <mat-tab label="Academic Demo Reel">
        <iframe width="1800px" height="950px" src="https://www.youtube.com/embed/OqJxxcTHREc?si=9TZ8d0gkYKcjVajD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </mat-tab>
  </mat-tab-group>
</div>